body{
	font-size: 14px;
	color: #5f6386;
}



#wrapper .mnu {
	font-size: 14px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	list-style-type: none;
}
#wrapper .main{
	text-align: center;
}
.btns{
	text-align: center;
	margin-top: 15px;
}
.text{
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
}
.btn_dark_blue{
	text-align: right;
	background-color: #4487FB;
	margin-right: 15px;
	margin-top: 0px;
	display: flex;
	justify-content: flex-end;
    font-size: 12px;
    color: #fff;
    padding: 5px;
  
}

